<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/recipies"  style="cursor: pointer;" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">

      <ul class="navbar-nav">
        <li routerLinkActive="active"> <a routerLink="/recipies" style="cursor: pointer;">Recipes</a> </li>
        
        <li routerLinkActive="active"> <a routerLink="/shopping-list" style="cursor: pointer;">Shopping List</a> </li>
       </ul>

       <ul class="nav navbar-nav navbar-right">

       <li class="dropdown" appDropDown> 

         <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
         
         <ul class="dropdown-menu open" >
           <li> <a style="cursor: pointer;" >Save Data</a> </li>
           <li> <a style="cursor: pointer;" >Fetch Data</a> </li>
         </ul>

       </li>

      </ul>

    </div> 
  </div>
</div>
